doctype html
html
  head
    title Dave's Gym
    link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/grid.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/ionicons.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,300i,400', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    
  body
    block content
